<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="loginwrapper">

    <form id="login" action="loginconfirm" method="post">
      <h1>Login</h1>
      <ul class="flex-outer">

           <li>
             <label for="email" >Email</label>
             <input type="email" id="email" name="email" placeholder="Enter your email here">
           </li>
           <li>
             <label for="password">Password</label>
             <input type="password" id="password" name="pw" value="password" placeholder="Enter your password here">
           </li>
           <li>
             <button class="submit" type="submit">Submit</button>
               <a href="/" class="back">Back</a>
           </li>
         </ul>

    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p >{{message}}</p>

        {% endfor %}
        <a href="/registration" class="back">Register</a>
      {% endif %}
    {% endwith %}

  </div>
</body>
</html>
