
@{
    DateTime currentDate = DateTime.Now;
    string formattedDate = String.Format("{0:MMM d, yyyy}", currentDate);
    string formattedTime = String.Format("{0:hh:mm tt}", currentDate);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>The current time and date:</h1>
    <p>@formattedDate</p>
    <p>@formattedTime</p>
</body>
</html>
