*{
  /*margin: 0px;*/
  /*padding: 0px;*/
  /*border: 0px;*/
  /*font-family: monospace;*/
  /*outline: 1px dashed red;*/
  /*color: white;*/
}

.yellow{
  background-color: yellow;
}

.red{
  color: red;
}
.fadeout{

}

.opacityfade{
  opacity: 0;

}

.card{
  height:500px;
  width: 500px;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0, 0.9);
  /*flex:1;*/
  margin: 0px;
  display: block;
}

.wrapper{
  width: 80%;
  /*display: flex;*/

  /*background-color: rgba(255,236,210, 0.8);*/
  flex-direction: column;
  margin: 0 auto;

}
.restore{
  background-color: green;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0, 1);

  display: block;
}

.body{
  /*display: flex;*/
  /*flex-direction: column;*/
  height: auto;
}

.one{
  position: absolute;
  clip: rect(0px,500px,100px,0px);
  top: 0;
   left: 0;
}
.two{
  position: absolute;
  clip: rect(100px,500px,200px,0px);
  top: 0;
   left: 0;
}
.three{
  position: absolute;
  clip: rect(200px,500px,300px,0px);
  top: 0;
   left: 0;
}
.four{
  position: absolute;
  clip: rect(300px,500px,400px,0px);
  top: 0;
   left: 0;
}
.five{
  position: absolute;
  clip: rect(400px,500px,500px,0px);
  top: 0;
   left: 0;
}

.win{
  position: absolute;
  top: 0;
   left: 0;
   z-index: -1;
}
