*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: sans-serif;
  /*outline: 1px dashed red;*/
  color: inherit;
}
.center{
  display: block;
  margin: 0 auto;
}
.inline{
  display: inline;
}
.shadow{
  box-shadow: 3px 3px 3px #1F1F1F;
}
.bluetext{
  color: #2C6A9F;
}
.largelightblue{
  color: #04AEDA;
  font-size: 35px;
  font-weight: bold;

}
.smallgrey{
  color: grey;
  font-size: 15px;
}
.redtext{
  color: red;
}
.left-align {
  margin-left: 0;
  margin-right: auto;
}
.right-align {
  margin-left: auto;
  margin-right: 0;
}
#wrapper{
  width: 950px;
  height: auto;
  background: white;
  margin: auto;
  padding: 5px;
  position: relative;
}

#header{
  width:auto;
  height: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#title{
  margin-left: 100px;
  font-size: 50px;
}
#theWWW{
  background: radial-gradient( #5283AB,#3374AC);
  color: white;
  font-size: 35px;
  margin-top: 30px;
}

#theglobe{
  position: absolute;
  width:100px;
  height: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#bodyleft{
  width:20%;
  height: 800px;
  padding: 5px 5px 5px 5px ;
  /*margin: 0px 1% 0px 1%;*/
  display: inline-block;
  align-items: center;
  align-content: center;

}
#button1{
  align-self: center;
  width: 80%;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 2px;


  border-radius: 5px;
  background: radial-gradient( #5283AB,#3374AC);
}
#button2{
  align-self: center;
  width: 80%;
  height: 20px;
  margin-top: 2px;
  margin-bottom: 30px;


  border-radius: 5px;
  background: linear-gradient(to bottom right, orange, yellow);
}
#buttonsTop p{
  margin: 10px 0px 0px 5px;
}
#buttonsBottom{
    background-image: url("ad_background.png");
    align-items: center;
    align-content: center;
    text-align: center;
    color: white;
    padding: 5px;

}
#buttonsBottom p{
  margin-top: 15px;
}
#theNinja{
  margin-top: 15px;
  width: 75px;

}
#buttonsBottom button{
  align-self: center;
  width: 80%;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 30px;

  border-radius: 5px;
  background: linear-gradient(to bottom right, #7CD0DE, #0CC2DD);
}
#bodyright{
  width:75%;
  height: auto;
  padding: 5px 5px 5px 5px ;
  margin-left: 23px;
  margin-right: 0px;
  display: inline-block;
  /*background-color: green;*/
  vertical-align: top;
}
#dns{
  border-bottom: 5px solid grey;
  height: 125px;

}
#homeicon{
  vertical-align: top;
}
#dnstxt{
  color: blue;
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
}
#phoneicon{
  display: inline-block;
  width: 50px;
margin-top: 10px;
margin-left: 325px;
vertical-align: top;
}
#contactinfo{
  display: inline-block;


}
#contactinfo ul{
  width: 225px;
  list-style: none;
}
#homeicon{
  width: 30px;
}
#client_serverimg{
  width: 300px;
  display: block;
  margin: 0 auto;
}
#clientserver ul, ol{
  margin-left: 20px;

}

#clientserver *{
  margin-top: 10px;

}

#big3{
  width:90%;
  height: 400px;
  margin: 10px auto;
  border: 5px solid #0085E0;



}
#big3txt{
  display: inline-block;
  vertical-align: top;
  width: 450px;
}
#htmlimg{
  width: 150px;
  display: inline;
  vertical-align: top;
}
