<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Survey Form</title>
</head>

<body>
    <a href="/login">Login</a>
    <a href="/index">Index</a>
    <a href="/back">Back</a>
    <a href="/logout">Logout</a>
    <h1>To MongoDB</h1>
    <form class='form' action='/quotes' method='post'>
        Name: <input class='form-control' type='text' name='name'> Quote! <textarea class='form-control' type='text' name='quote'></textarea>
        <input type="submit" value="Submit">
    </form>
 

</body>

</html>