<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>
</head>

<body>
    <a href="/login">Login</a>
    <a href="/">Index</a>
    <a href="/back">Back</a>
    <a href="/logout">Logout</a>
</body>
</htm